rules:
    - Rudashi\PHPStan\Rules\NoFunctionRule
services:
    -
        class: Rudashi\PHPStan\TestCaseMethodNotFoundExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Rudashi\PHPStan\ExpectationMethodNotFoundExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Rudashi\PHPStan\IgnoreExtension\TestCasePropertyIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension
    -
        class: Rudashi\PHPStan\IgnoreExtension\TestMethodIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension
    -
        class: Rudashi\PHPStan\IgnoreExtension\ExpectationPropertyIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension
parameters:
    bootstrapFiles:
        - src/globalFunctions.php
